<header class="header">
  <img src="img/logo.svg" alt="Logo AICGT" class="logo" />
  <div class="main-nav">
    <ul class="list">
      <li class="item">
        <a href="#main" class="item-link active">Main</a>
      </li>
      <li class="item">
        <a href="#services" class="item-link">Services</a>
      </li>
      <li class="item">
        <a href="#stats" class="item-link">Stats</a>
      </li>

      <!-- <li class="item">
        <a href="#projects" class="item-link">Projects</a>
      </li> -->
    </ul>
  </div>
  <div class="secondary-nav">
    <ul class="list">
      <!-- <li class="item"><a href="#about" class="item-link">About</a></li> -->
      <li class="item"><a href="#contact" class="item-link">Contact</a></li>
      <li class="item">
        <a href="/auth/index.php" class="item-link">Sign In</a>
      </li>
    </ul>
  </div>
</header>