<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AICGT | IlyaAleichik.com</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/vidbg.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script> -->

</head>

<body>

  {header}

  <main class="container">
    <section class="main-section" id="main">
      <div class="main-text">
        <h2 class="main-subtitile">
          < Hello> </span>
            <h1 class="main-title">My Name is <br> <span style="color: rgb(66, 86, 237); font-size: 96px;">Ilya</span>
            </h1>

            <div class="block">
              <p class="main-description">. i’m Full Stack Developer and Digital Artist</p>
              <button class="main-btn" type="button">See My Works</button>
            </div>
      </div>
    </section>

    <section class="services-section" id="services">
      <h1 class="srv-title">./SERVICES</h1>
      <div class="service-block">
        <div class="service-item">
          <img src="/img/icon/Group15.svg" alt="" class="service-image">
          <div class="service-block-title">
            <h3 class="service-title">Graphics</h3>
            <p class="service-tex">Print / Logo / Branding / Rendering / Product</p>
          </div>
        </div>
        <div class="service-item">
          <img src="/img/icon/Group16.svg" alt="" class="service-image">
          <div class="service-block-title">
            <h3 class="service-title">Graphics</h3>
            <p class="service-tex">Print / Logo / Branding / Rendering / Product</p>
          </div>
        </div>
        <div class="service-item">
          <img src="/img/icon/Group17.svg" alt="" class="service-image">
          <div class="service-block-title">
            <h3 class="service-title">Graphics</h3>
            <p class="service-tex">Print / Logo / Branding / Rendering / Product</p>
          </div>
        </div>
        <div class="service-item">
          <img src="/img/icon/Group18.svg" alt="" class="service-image">
          <div class="service-block-title">
            <h3 class="service-title">Graphics</h3>
            <p class="service-tex">Print / Logo / Branding / Rendering / Product</p>
          </div>
        </div>
      </div>
    </section>

    <section class="stat-section" id="stats">
      <h1 class="stat-title">./STATS</h1>
      <div class="stat-block">
        <div class="stat-item">
          <div class="stat-block-title">
            <h1 class="stat-title">25+</h3>
              <h2 class="stat-subtitle">Project Done</h2>
              <p class="stat-tex">At vero eos et accusamus et
                iustoodio dignissimos.</p>
          </div>
        </div>
        <div class="stat-item">
          <div class="stat-block-title">
            <h1 class="stat-title">45+</h3>
              <h2 class="stat-subtitle">Happy Clients</h2>
              <p class="stat-tex">At vero eos et accusamus et
                iustoodio dignissimos.</p>
          </div>
        </div>
        <div class="stat-item">
          <div class="stat-block-title">
            <h1 class="stat-title">4+</h3>
              <h2 class="stat-subtitle">Experience</h2>
              <p class="stat-tex">At vero eos et accusamus et
                iustoodio dignissimos.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-section" id="contact">
      <h1 class="contact-title">./FEADBACK</h1>
      <div class="contact-block">
        <div class="portfolio-link">
          <div class="contact-item-link"><a href="https://www.artstation.com/aicgtrade"
              class="contact-link">Artstation</a></div>
          <div class="contact-item-link"><a href="https://www.behance.net/Ilyaalejch1f06"
              class="contact-link">Behance</a></div>
          <div class="contact-item-link"><a href="https://github.com/IlyaAlejchik" class="contact-link">Github</a></div>
          <div class="contact-item-link"><a href="https://soundcloud.com/aicgtrade" class="contact-link">SoundCloud</a>
          </div>
        </div>
        <div class="contact-form">
          <form class="contact-request" name="feedback" method="POST" action="/src/form.php">
            <h2>Leave a request, I'll call you</h2>
            <input class="contact-input" type="text" name="name" id="" value="Your name">
            <input class="contact-input" type="text" name="email" id="" value="Email">
            <input class="contact-input" type="text" name="phone" id="" value="Phone">
            <input class="contact-btn" type="submit" name="send" value="Send request">
          </form>
          <div class="contact-data">
            <h2 class="contact-text">CONTACT</h2>
            <h3 class="contact-text">E-MAIL:</h3>
            <p class="contact-text">ilya.alejchik@outlook.com</p>
            <h3 class="contact-text">PHONE:</h3>
            <p class="contact-text">+375 (33) 334-31-56</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 
    <section style="display: none;" id="services">

      <div class="services">
        <div class="service">
          <div class="icon">
            <img src="img/001.png" alt="" />
          </div>
          <h2>Design</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
        <div class="service">
          <div class="icon">
            <img src="img/002.png" alt="" />
          </div>
          <h2>Development</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
        <div class="service">
          <div class="icon">
            <img src="img/003.png" alt="" />
          </div>
          <h2>SEO</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
        <div class="service">
          <div class="icon">
            <img src="img/004.png" alt="" />
          </div>
          <h2>Marketing</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
        <div class="service">
          <div class="icon">
            <img src="img/005.png" alt="" />
          </div>
          <h2>App Development</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
        <div class="service">
          <div class="icon">
            <img src="img/006.png" alt="" />
          </div>
          <h2>Error Fixing</h2>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
          nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
        </div>
      </div>
    </section>

    <section style="display: none;" class="projects" id="projects">
      <div class="container ">
        <div class="project-content">
          <p>Graphic</p>
          <div class="project-desk">
            <p> print/logo/branding/rendering/product</p>
          </div>
        </div>
        <div class="project-content">
          <p>Ilustration</p>
          <div class="project-desk">
            <p>art direction/concept-art</p>
          </div>
        </div>
        <div class="project-content">
          <p>Webdesign</p>
          <div class="project-desk">
            <p>front-back-end ui-ux/html-css-js</p>
          </div>
        </div>
        <div class="project-content">
          <p>Development</p>
          <div class="project-desk">
            <p>desktop/mobile/game</p>
          </div>
          <p class="btn-next">See all my projects -></p>
        </div>
      </div>
    </section>

    <section style="display: none;" class="about" id="about">
      <div class="container">
        <h2 data-scroll data-scroll-speed="12">Setcion About</h2>
        <p>Hello, My Name is Ilya. I am worked digital artist and developer</P>
      </div>
    </section>

    <section style="display: none;" class="contacts" id="contact">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-25">
              <label for="fname">First Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="country">Country</label>
            </div>
            <div class="col-75">
              <select id="country" nasme="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="subject">Subject</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
          </div>

          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section> -->
    <div class="video"></div>
  </main>


  <!-- <script src="js/locomotive.js"></script> -->

  <script src="/js/vidbg.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>